// Typography
////////////////////////////////////////////////////////////////
$font-family-primary: AvenirNext;
$font-family-secondary: Open Sans;

// Font-size
$font-size-small: 0.8rem;
$font-size-base: 0.95rem;
$font-size-medium: 1rem;
$font-size-large: 1.125rem;
$font-size-larger: 1.375rem;
$font-size-big: 1.5rem;
$font-size-bigger: 1.75rem;
$font-size-largest: 2.25rem;
$font-size-biggest: 3rem;
$font-size-button: 0.875rem;

//Colors
////////////////////////////////////////////////////////////////
$white:  #fff;
$black:  #000;
$red: #f00;
$pickledBluewood: #283d52;
$catskill-white: #F3F7FA;
$eucalyptus: #28A745;
$river-bed: #454D57
