///////////////// Header /////////////////////
.site-header {
  background-color: $white;
  box-shadow: 4px 0 5px rgba(0,0,0,0.08);
  min-height: 64px;
  position: fixed;
  top: 4px;
  right: 0;
  left: 0;
  z-index: 1030;

  .navbar-collapse {
    flex-grow: unset;
  }
}

///////////////// Footer /////////////////////
.site-footer {
  background-color: $white;
  height: 64px;
  color: $river-bed;
  font-size: $font-size-base;
  font-weight: 400;
  border-top: 1px solid #f1f2f3;
  display: flex;
  align-items: center;
}


///////////////// Main //////////////////////
main {
  padding-top: 68px;
  min-height: calc(100vh - 68px);
}
